/*****BASE STYLES*****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
}

#container {
    width: 1440px;
    margin: 0 auto;
    height: auto;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;
    color: #D6EAF8;
    text-align: left;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 35px;
    color: #D6EAF8;
    line-height: 48px;
    text-align: left;
}

h3 {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    padding: 60px 0px 20px 0px;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
}

p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 22px;
    text-align: left;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    }

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    height: auto;
    float: left;
}

/*****HEADER*****/

header {
    height: 600px;
    background: url('../img/hero-image.jpg') no-repeat #FFFFFF;
    background-size: cover;
}

.hero-tag {
    margin: auto;
    padding-top: 140px;
    padding-left: 50px;
    width: 600px;
}

.hero-tag span {
    color: #ffffff;
}

nav {
    float: right; 
    padding: 40px 25px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #EBF5FB;
    padding-left: 60px;
    opacity: 80%;
}

nav a:hover {
    color: white;
    opacity: 100%;
}

.nav {
    padding-left: 60px;
}

/*****PORTFOLIO*****/

#portfolio h3 {
    color: #1b262c;
}

#portfolio .full-width {
    margin-bottom: 70px;
}

#portfolio-text h4 {
    color:#1b262c;
    text-align: left;
}

#portfolio span {
    font-weight: 700;
    font-size: 24px;
}

.portfolio-text h4 {
    margin: 15px auto;
}

.portfolio-text p {
    color: #1b262c;
    line-height: 33px;
}

#portfolio img {
    width: 450px;
    margin-left: 100px;
    border: 1px solid #d6eaf8;
}

#portfolio a {
    color: #0f4c75;
    font-family: 'Montserrat';
    font-weight: 300;
    text-decoration: none;
    font-size: 22px;
}

#portfolio a:hover {
    color: #0066cc;
}

/*****ABOUT ME*****/

#about-me {
    background-color: #0f4c75;
}

#about-me h3 {
    color: #d2e1e4;
    padding-top: 70px;
}

#about-me h4 {
    color: #d2e1e4;
    font-weight: 700;
    text-align: left;
}

#about-me p {
    color: #d2e1e4;
    line-height: 32px;
}

#about-me .half-width {
    margin-bottom: 100px;
}

#about-me img {
    margin-left: 100px;
    width: 380px;
}

#about-me ul li {
    color: #d2e1e4;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
}

/*****FOOTER*****/

footer {
    background-color: #1b262c;
}

#contact h4 {
    color: white;
    text-align: center;
}

#contact p {
    color: white;
    text-align: center;
    line-height: 32px;
}

.social-icons {
    padding-left: 92px;
}

.social-icons img {
    width: 35px;
}

.social-icons a {
    padding-right: 50px;
    opacity: 80%;
}

.social-icons a:hover {
    opacity: 100%;
}

.copyright p {
    margin-top: 50px;
    font-size: 18px;
}

/*****PORTFOLIO PAGES STYLES*****/

/*****HEADER*****/

.portfolio-header {
    height: 400px;
    background-image: none;
    background-color: #0f4c75;
    background-size: cover;
}

#showcase h3 {
	    padding: 40px 0px 20px 0px;
}

.portfolio-header .hero-tag {
    margin: auto;
    padding-top: 50px;
    padding-left: 50px;
    width: 700px;
}

.portfolio-header img {
	    width: 300px;
}

.portfolio-header .hero-tag h2 {
	    margin-top: 10px;
	}

.portfolio-nav {
    padding-left: 0px;
}

/*****SHOWCASE*****/

#showcase h3 {
	    color: #1b262c;
}

#showcase .full-width {
    margin-bottom: 0px;
}

#showcase h4 {
    color:#1b262c;
    text-align: left;
}

#showcase span {
    font-weight: 700;
    font-size: 24px;
}

#showcase .full-width p {
    color: #1b262c;
    line-height: 35px;
    width: 1200px;
}

#showcase .half-width p {
    color: #1b262c;
    line-height: 35px;
    width: 450px;
}

#showcase .full-width img {
    width: 1198px;
    border: 1px solid #D6EAF8;
}

#showcase .half-width img {
    width: 450px;
    margin-left: 100px;
    border: 1px solid #D6EAF8;
}

#showcase a {
    color: #0f4c75;
    font-family: 'Montserrat';
    font-weight: 300;
    text-decoration: none;
    font-size: 22px;
}

.body-bottom {
    padding-bottom: 70px;
}

/*****SOOKJAI STYLES*****/

/*****HEADER*****/

.avpa-portfolio-header {
    height: 400px;
    background-image: none;
    background-color: #0f4c75;
    background-size: cover;
}

.avpa-portfolio-header .hero-tag {
    margin: auto;
    padding-top: 50px;
    padding-left: 50px;
    width: 700px;
}

.avpa-portfolio-header img {
    width: 500px;
    padding-top: 20px;
    padding-left: 20px;
}

.avpa-portfolio-header .hero-tag h2 {
    margin-top: 10px;
}

.avpa-portfolio-nav {
    padding-left: 0px;
}

/*****SHOWCASE*****/

#showcase h3 {
    margin: 0px;
    padding: 50px 0px;
}

.calendar p {
    margin-bottom: 70px;
}

#half-showcase {
    padding: 70px;
}

#half-showcase img {
    width: 500px;   
    border: 1px solid #D6EAF8;
}

#half-showcase p {
    line-height: 32px;
}

#half-showcase h4 {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
}

/*****SAXOPHONE*****/


#saxophone {
    background-color: #0f4c75;
}

#saxophone img {
    width: 350px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#saxophone h4 {
    color: #d2e1e4;
    font-size: 30px;
    line-height: 32px;
    margin-top: 85px;
}

#saxophone p {
    color: #d2e1e4;
    line-height: 32px;
}

#saxophone a {
    color: #d2e1e4;
    font-family: 'Montserrat';
    font-weight: 300;
    text-decoration: none;
    font-size: 22px;
}