/*****BASE STYLES*****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b2b2b;
}

#container {
    width: 1440px;
    margin: 0 auto;
    height: auto;
}

h1 { 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 45px;
    color: #D6EAF8;
    text-align: left;
}

h2 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 35px;
    color: #D6EAF8;
    line-height: 48px;
    text-align: left;
}

h3 {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 0px;
    padding: 60px 0px 20px 0px;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
}

p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 22px;
    text-align: left;
}

/****** GRID ******/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
    }
.half-width {
    width: 600px;
    float: left;
}
.third-width {
    width: 400px;
    height: auto;
    float: left;
}

/*****HEADER*****/

header {
    height: 600px;
    background: url('../img/hero-image.jpg') no-repeat #FFFFFF;
    background-size: cover;
}

.hero-tag {
    margin: auto;
    padding-top: 140px;
    padding-left: 50px;
    width: 600px;
}

.hero-tag span {
    color: #ffffff;
}
    
nav {
    float: right; 
    padding: 40px 25px;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #EBF5FB;
    padding-left: 60px;
}

.nav {
    padding-left: 60px;
}

/*****PORTFOLIO*****/

#portfolio h3 {
    color: #1b262c;
}

#portfolio .full-width {
    margin-bottom: 70px;
}

#portfolio-text h4 {
    color:#1b262c;
    text-align: left;
}

#portfolio span {
    font-weight: 700;
    font-size: 24px;
}

#portfolio-text p {
    color: #1b262c;
}

#portfolio img {
    width: 450px;
    margin-left: 100px;
    border: 1px solid #D6EAF8;
}

#portfolio a {
    color: #0f4c75;
    font-family: 'Montserrat';
    font-weight: 300;
    text-decoration: none;
    font-size: 22px;
}

/*****ABOUT ME*****/

#about-me {
    background-color: #0f4c75;
}

#about-me h3 {
    color: #d2e1e4;
    padding-top: 50px;
}

#about-me h4 {
    color: #d2e1e4;
    font-weight: 700;
    text-align: left;

}

#about-me p {
    color: #d2e1e4;
    line-height: 32px;
}

#about-me .half-width {
    margin-bottom: 100px;
}

#about-me img {
    margin-left: 100px;
}

#about-me ul li {
    color: #d2e1e4;
    font-weight: 300;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
}

/*****FOOTER*****/

footer {
    background-color: #1b262c;
}

#contact h4 {
    color: white;
    text-align: center;
}

#contact p {
    color: white;
    text-align: center;
}

.social-icons {
    padding-left: 70px;
}

.social-icons a {
    padding-right: 50px;
}

.copyright p {
    margin-top: 100px;
    font-size: 18px;
}